<ion-header>
  <ion-toolbar color='main'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
      Cart
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-icon name='cart' style="font-size: 25px;"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>   
  <ion-row>  
  <ion-col size-lg=12 size-md=12 size-sm=12 size-xs=12>


  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="arrow-back"></ion-icon> <ion-label> Back </ion-label> 
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-label> Categories </ion-label>   <ion-icon color='main'  name="list"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
  
  <ion-item>  
    <ion-label text-center>
      <p>10:30PM, Monday 28, June, 2016</p>      
    </ion-label>  
  </ion-item>


<ion-row>
  <ion-col size-lg=12 size-md=12 size-sm=12 size-xs=12>
      <ion-card>  
        <ion-card-content>      
          <ion-list>
            <ion-item>
              <ion-label>
                <p>Total Items : 7</p>
                <p>Subtotal : $ 3850</p>
                <p>Shipping Charge : $ 250</p>
                <p>Total Items : $ 4100</p>
                </ion-label>
            </ion-item>     
          </ion-list>
        </ion-card-content>
      </ion-card>
   </ion-col>
</ion-row>

<ion-row>
  <ion-col size-lg=12 size-md=12 size-sm=12 size-xs=12>
      <ion-card>  
        <ion-card-content>     
                <ion-label>
                  Payment Information
                </ion-label>
              <ion-row>
                <ion-col size-lg=6 size-md=6 size-sm=6 size-xs=6>                                
                  <ion-list>
                    <ion-radio-group value="biff">
                      <ion-item>
                        <p>Credit Card</p>
                        <ion-radio slot="start" value="card"></ion-radio>
                      </ion-item>
                    </ion-radio-group>
                  </ion-list>                  
              </ion-col>

              <ion-col size-lg=6 size-md=6 size-sm=6 size-xs=6>                                
                <ion-list>
                  <ion-radio-group value="biff">
                    <ion-item>
                      <p>Net Banking</p>
                      <ion-radio slot="start" value="card"></ion-radio>
                    </ion-item>
                  </ion-radio-group>
                </ion-list>                  
            </ion-col>

            <ion-col size-lg=6 size-md=6 size-sm=6 size-xs=6>                                
              <ion-list>
                <ion-radio-group value="biff">
                  <ion-item>
                    <p>Debit Card</p>
                    <ion-radio slot="start" value="card"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-list>                  
          </ion-col>  
          
          <ion-col size-lg=6 size-md=6 size-sm=6 size-xs=6>                                
            <ion-list>
              <ion-radio-group value="biff">
                <ion-item>
                  <p>Cash on Delivery</p>
                  <ion-radio slot="start" value="card"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>                  
        </ion-col>
              </ion-row>           
          
        </ion-card-content>
      </ion-card>
   </ion-col>
</ion-row>


<ion-row>
  <ion-col size-lg=12 size-md=12 size-sm=12 size-xs=12>
      <ion-card>  
        <ion-card-content>      
          <ion-label>
            Payment Information
          </ion-label>
          <ion-row>

          <ion-col size-lg=12 size-md=12 size-sm=12 size-xs=12>
            <ion-list>
              <ion-item>
                <ion-label position="floating">Credit Card Number</ion-label>
                <ion-input  placeholder="Enter Credit Card" required="true"></ion-input>
                <ion-icon name="card"  slot="end"></ion-icon>
              </ion-item>
            </ion-list>        
          </ion-col> 
          <ion-col size-lg=6 size-md=6 size-sm=6 size-xs=6>

            <ion-list>
              <ion-item>
                <ion-label position="floating">Expiry date</ion-label>
                <ion-input  placeholder="Enter date" required="true"></ion-input>
                <ion-icon name="calendar"  slot="end"></ion-icon>
              </ion-item>
            </ion-list>

          </ion-col> 
          <ion-col size-lg=6 size-md=6 size-sm=6 size-xs=6>
            <ion-list>
              <ion-item>
                <ion-label position="floating">CCV</ion-label>
                <ion-input  placeholder="Enter CCV" required="true"></ion-input>
                <ion-icon name="card"  slot="end"></ion-icon>
              </ion-item>
            </ion-list>  
          </ion-col> 
          </ion-row>      
        </ion-card-content>
      </ion-card>

      <ion-button color='main' expand="full">PAY NOW</ion-button>


   </ion-col>
</ion-row>


</ion-col>
</ion-row>
</ion-grid>
</ion-content>

<!-- <ion-footer>
  <img src="/assets/images/footer-icon.png" style="width: 100%;">
</ion-footer> -->
