<ion-header>
  <ion-toolbar color='main'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
      Cart
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-icon name='cart' style="font-size: 25px;"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 

<ion-content>
  <ion-grid>   
  <ion-row>  
  <ion-col size-lg=12 size-md=12 size-sm=12 size-xs=12>


    
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="arrow-back"></ion-icon> <ion-label> Back </ion-label> 
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-label> Categories </ion-label>   <ion-icon color='main'  name="list"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
  
  <ion-item>  
    <ion-label text-center>
      <p>10:30PM, Monday 28, June, 2016</p>      
    </ion-label>  
  </ion-item>


<ion-row>
  <ion-col size-lg=12 size-md=12 size-sm=12 size-xs=12>
      <ion-card>  
        <ion-card-content>      
          <ion-list>
            <ion-item>
              <ion-label>
                <p>Total Items : 7</p>
                <p>Subtotal : $ 3850</p>
                <p>Shipping Charge : $ 250</p>
                <p>Total Items : $ 4100</p>
                </ion-label>
            </ion-item>     
          </ion-list>
        </ion-card-content>
      </ion-card>
   </ion-col>
</ion-row>

<ion-row>
  <ion-col size-lg=12 size-md=12 size-sm=12 size-xs=12>
      <ion-card>  
        <ion-card-content>      
          <ion-row>
            <ion-col size-lg=3 size-md=3 size-sm=3 size-xs=3>
              <img src="/assets/images/product-large.png" style="width: 100%;">
            </ion-col>
            <ion-col size-lg=7 size-md=7 size-sm=7 size-xs=7>
              <ion-label style="font-weight: bolder; font-size: 18px;">Samsung Ultra Sharp</ion-label>
              <hr>
              <ion-label style="font-weight: bolder;"> 
               $550
              </ion-label>
              <ion-list>
                <ion-item>
                  <ion-label position="floating"> Quantity </ion-label>
                  <ion-input  placeholder="1" required="true"></ion-input>
                  <ion-icon name="calendar"  slot="end"></ion-icon>
                </ion-item>
              </ion-list>

                <!-- <ion-input placeholder='1' type="numeric" size='small' style="border-bottom: 1px solid #000; max-width: 50% " color='main'></ion-input> -->
            </ion-col>

            <ion-col size-lg=2 size-md=2 size-sm=2 size-xs=2>
              <ion-icon name='close-circle-outline' color='main' style="font-size: 20px;"></ion-icon>
              <p>Remove</p>
            </ion-col>

    
          </ion-row>
        </ion-card-content>
      </ion-card>
   </ion-col>
</ion-row>


</ion-col>
</ion-row>
</ion-grid>
</ion-content>

<!-- <ion-footer>
  <img src="/assets/images/footer-icon.png" style="width: 100%;">
</ion-footer> -->
