<ion-header>
  <ion-toolbar color='main'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
      My Profile
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-icon name='cart' style="font-size: 25px;"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>   
    <ion-row>  
        <ion-col size-lg=12 size-md=12 size-sm=12 size-xs=12>


  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="arrow-back"></ion-icon> <ion-label> Back </ion-label> 
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-label> Categories </ion-label>   <ion-icon color='main'  name="list"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>




  
  <ion-item>
    <ion-avatar slot="start">
      <img src="/assets/images/avatar.png" style="width: 100%;">
    </ion-avatar>

    <ion-label text-center>
      <p>Michael John</p>
      <p>09032841265</p>
    </ion-label>

    <ion-button color='main' >
      <ion-icon name="create"></ion-icon>
    </ion-button>
  </ion-item>


<ion-row>

  <ion-col size-lg=4 size-md=4 size-sm=4 size-xs=4>
  <ion-card>  
    <ion-card-content>
      <img src="/assets/images/icons/orders-icon.png" style="width: 100%;">
      My Orders
    </ion-card-content>
  </ion-card>
</ion-col>

<ion-col size-lg=4 size-md=4 size-sm=4 size-xs=4>
  <ion-card>
    <ion-card-content>
      <img src="/assets/images/icons/wallet-icon.png" style="width: 100%;">
      My Wallet
    </ion-card-content>
  </ion-card>
</ion-col>


<ion-col size-lg=4 size-md=4 size-sm=4 size-xs=4>
  <ion-card>
    <ion-card-content>
      <img src="/assets/images/icons/reviews-icon.png" style="width: 100%;">
      My Reviews
    </ion-card-content>
  </ion-card>
</ion-col>


<ion-col size-lg=4 size-md=4 size-sm=4 size-xs=4>
  <ion-card>
    <ion-card-content>
      <img src="/assets/images/icons/addresses-icon.png" style="width: 100%;">
     address
    </ion-card-content>
  </ion-card>
</ion-col>


<ion-col size-lg=4 size-md=4 size-sm=4 size-xs=4>
  <ion-card>
    <ion-card-content>
      <img src="/assets/images/icons/settings-icon.png" style="width: 100%;">
     Settings
    </ion-card-content>
  </ion-card>
</ion-col>


<ion-col size-lg=4 size-md=4 size-sm=4 size-xs=4>
  <ion-card>
  
    <ion-card-content>
      <img src="/assets/images/icons/logout-icon.png" style="width: 100%;">
     Logout
    </ion-card-content>
  </ion-card>
</ion-col>
</ion-row>


</ion-col>
</ion-row>
</ion-grid>
</ion-content>

<ion-footer>
  <img src="/assets/images/footer-icon.png" style="width: 100%;">
</ion-footer>
