<ion-header>
  <ion-toolbar color='main'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
      Categories
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-icon name='cart' style="font-size: 25px;"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div padding>

  
  <ion-grid>   
    <ion-row>  
        <ion-col size-lg=12 size-md=12 size-sm=12 size-xs=12>
          <ion-searchbar style="margin-right: 25%;"></ion-searchbar>

          <ion-row style="margin-top: 15px;">

          <ion-col size-lg=4 size-md=4 size-sm=4 size-xs=4>
            <div style="height: 80px; width: 80px; background: rgb(238, 238, 238); border-radius: 50%;">
              <img src="/assets/images/icons/fashion-icon.png" style="width: 60%; margin-left: 20%; margin-top: 15%;">
              <br>
              <br>
              <ion-label style="margin-left: 15%;" text-center>Fashion</ion-label>              
            </div>          
          </ion-col>

          <ion-col size-lg=4 size-md=4 size-sm=4 size-xs=4>
            <div style="height: 80px; width: 80px; background: rgb(238, 238, 238); border-radius: 50%;">
              <img src="/assets/images/icons/phones-icon.png" style="width: 60%; margin-left: 20%; margin-top: 15%;">
              <br>
              <br>
              <ion-label text-center style="margin-left: 15%;">Phones</ion-label>              
            </div>          
          </ion-col>
          
          <ion-col size-lg=4 size-md=4 size-sm=4 size-xs=4>
            <div style="height: 80px; width: 80px; background: rgb(238, 238, 238); border-radius: 50%;">
              <img src="/assets/images/icons/electronics-icon.png" style="width: 60%; margin-left: 20%; margin-top: 15%;">
              <br>
              <br>
              <ion-label text-center>Electronics</ion-label>              
            </div>          
          </ion-col>    

          </ion-row>


          <ion-row style="margin-top: 65px;">

            <ion-col size-lg=4 size-md=4 size-sm=4 size-xs=4>
              <div style="height: 80px; width: 80px; background: rgb(238, 238, 238); border-radius: 50%;">
                <img src="/assets/images/icons/furniture-icon.png" style="width: 60%; margin-left: 20%; margin-top: 15%;">
                <br>
                <br>
                <ion-label style="margin-left: 15%;" text-center>Furniture</ion-label>              
              </div>          
            </ion-col>
  
            <ion-col size-lg=4 size-md=4 size-sm=4 size-xs=4>
              <div style="height: 80px; width: 80px; background: rgb(238, 238, 238); border-radius: 50%;">
                <img src="/assets/images/icons/car-icon.png" style="width: 60%; margin-left: 20%; margin-top: 15%;">
                <br>
                <br>
                <ion-label text-center style="margin-left: 33%;">Auto</ion-label>              
              </div>          
            </ion-col>
  
            <ion-col size-lg=4 size-md=4 size-sm=4 size-xs=4>
              <div style="height: 80px; width: 80px; background: rgb(238, 238, 238); border-radius: 50%;">
                <img src="/assets/images/icons/sports-icon.png" style="width: 60%; margin-left: 20%; margin-top: 15%;">
                <br>
                <br>
                <ion-label style="margin-left: 15px;" text-center>Sports</ion-label>              
              </div>          
            </ion-col> 
  
            </ion-row>

            <ion-row style="margin-top: 65px; margin-bottom: 30px;">

              <ion-col size-lg=4 size-md=4 size-sm=4 size-xs=4>
                <div style="height: 80px; width: 80px; background: rgb(238, 238, 238); border-radius: 50%;">
                  <img src="/assets/images/icons/real-estate-icon.png" style="width: 60%; margin-left: 20%; margin-top: 15%;">
                  <br>
                  <br>
                  <ion-label style="margin-left: 12px;" text-center>Estate</ion-label>              
                </div>          
              </ion-col>
    
              <ion-col size-lg=4 size-md=4 size-sm=4 size-xs=4>
                <div style="height: 80px; width: 80px; background: rgb(238, 238, 238); border-radius: 50%;">
                  <img src="/assets/images/icons/jobs-icon.png" style="width: 60%; margin-left: 20%; margin-top: 15%;">
                  <br>
                  <br>
                  <ion-label text-center style="margin-left: 25%;">Jobs</ion-label>              
                </div>          
              </ion-col>
    
              <ion-col size-lg=4 size-md=4 size-sm=4 size-xs=4>
                <div style="height: 80px; width: 80px; background: rgb(238, 238, 238); border-radius: 50%;">
                  <img src="/assets/images/icons/accesories-icon.png" style="width: 60%; margin-left: 20%; margin-top: 15%;">
                  <br>
                  <br>
                  <ion-label text-center>Accesories</ion-label>              
                </div>          
              </ion-col> 
    
              </ion-row>



          
        </ion-col>
    </ion-row>
  </ion-grid>
  </div>
</ion-content>
  <ion-footer>
    <img src="/assets/images/footer-icon.png" style="width: 100%;">
  </ion-footer>
  <!-- <ion-footer>
    <img src="/assets/images/footer-icon.png" style="width: 100%;">
  </ion-footer> -->


